/*Styling for adea-notes-html.html
Used https://www.pantone.com/color-finder to find rgb values.*/

/* Checks alignment and order of divs
* {
  margin: 10px;
  border: #f93822 solid 2px;
}
*/

/*Entire Page*/
/*Add background color to entire web page.*/
body {
  background-color: #dad9d6;
  font-family: "Source Serif Pro", serif;
}

/*Hyperlinks*/
/*Unvisited link displayed blue*/
a:link {
  color: #10069f;
}

/*Visited link displayed green*/
a:visited {
  color: #329e31;
}

/*Hovering over the link displayed purple*/
a:hover {
  color: #8f1a95;
}

/*Header*/
/*For id="headline", add background color, create solid border, and create round border for main topic of notes*/
#headline {
  background-color: #aad3e8;
  border: 5px solid #006ebc;
  border-radius: 5px;
}

/*Content*/
/*For id="highlight", change text to color orange. This demonstrates use of span as an inline element around text HTML.*/
#highlight {
  color: #ff6d00;
}

/*For class="notes", create background and rounded border for each section*/
.notes {
  background-color: #aad3e8;
  border-radius: 10px;
  margin: 8px;
  padding: 10px;
}

/*For class="topic", create solid blue borders around topic titles*/
.topic {
  border: 5px solid #006ebc;
  text-align: center;
}

/*For class="sub-topic", create light blue left border on sub-topic titles*/
.sub-topic {
  border-left: 5px solid #006ebc;
}

/*Formatting image to stay to left*/
.dom-tree {
  margin: 0;
  padding: 0;
  text-align: left;
}

/*Content: References*/
/*Removing bullets from unordered list*/
ul {
  list-style-type: none;
}
